{
	"env": {
		"test": {
			"plugins": [
				[
					"transform-class-properties",
					{
						"spec": true,
					},
				],
				["transform-object-rest-spread"],
				[
					"babel-plugin-transform-require-ignore",
					{
						"extensions": [".less", ".css"],
					},
				],
			],
			"presets": [
				[
					"env",
					{
						"targets": {
							"browsers": ["last 2 versions"],
						},
					},
				],
				"react",
				//"typescript"
			],
		},
		"development": {
			"plugins": [
				[
					"transform-class-properties",
					{
						"spec": true,
					},
				],
				["transform-object-rest-spread"],
				"lodash",
			],
			"presets": [
				[
					"env",
					{
						"targets": {
							"browsers": ["last 2 versions"],
						},
					},
				],
				"react",
				//"typescript"
			],
		},
		"documentation": {
			"plugins": [
				[
					"transform-class-properties",
					{
						"spec": true,
					},
				],
				["transform-object-rest-spread"],
				"lodash",
			],
			"presets": [
				[
					"env",
					{
						"targets": {
							"browsers": ["last 2 versions"],
						},
					},
				],
				"react",
				//"typescript"
			],
		},
		"production": {
			"plugins": [
				[
					"transform-class-properties",
					{
						"spec": true,
					},
				],
				["transform-object-rest-spread"],
				[
					"babel-plugin-transform-require-ignore",
					{
						"extensions": [".less", ".css"],
					},
				],
				[
					"react-peek/babel",
					{
						"minifyStatics": true,
					},
				],
				"lodash",
			],
			"presets": [
				[
					"env",
					{
						"targets": {
							"browsers": ["last 2 versions"],
						},
					},
				],
				"react",
				//"typescript"
			],
		},
		"modules": {
			"plugins": [
				[
					"transform-class-properties",
					{
						"spec": true,
					},
				],
				["transform-object-rest-spread"],
				[
					"babel-plugin-transform-require-ignore",
					{
						"extensions": [".less", ".css"],
					},
				],
				[
					"react-peek/babel",
					{
						"minifyStatics": true,
					},
				],
				"lodash",
			],
			"presets": [
				[
					"env",
					{
						"targets": {
							"browsers": ["last 2 versions"],
						},
						"modules": false,
					},
				],
				"react",
				//"typescript"
			],
		},
	},
}
